{
  margin:auto%;
  padding:auto;
  box-sizing:border-box;
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: green;
  font-family:'Times', 'Arial Narrow', Arial, sans-serif;
}
.logo{
  color: green;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size:25px;
}
.nav-links{
  display: flex;
  justify-content: space-around;
  width: 60%;
}
.nav-links li{
  list-style:none;
}
.nav-links a{
  colour: green;
  text-decoration:none;
  letter-spacing: 5px;
  font-weight:bold;
  font-size:20px;
}
.weare {
  width: 100%;
  height: 500px;
  padding: 0 100px;
  background: #f1f5f3;
}
.weare h3 {
  font-size: 36px;
  font-family: 'Times New Roman', Times, serif, Arial-Bold;
  font-weight: Bold;
  color: black;
  padding: 30px 0 0 0;
  line-height: 42px;
}
.weare .weareBox {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
}
.weare .weareBox .left img {
  width: 600px;
  opacity: 0.98;
}
.weare .weareBox .right .top {
  display: flex;
}
.weare .weareBox .right .top img {
  width: 300px;
  height: 220px;
  margin-left: 30px;
}
.weare .weareBox .right .bottom {
  margin-left: 30px;
  margin-top: 50px;
}
.weare .weareBox .right .bottom h4 {
  font-size: 30px;
}
.weare .weareBox .right .bottom h4 em {
  font-size: 16px;
  margin-left: 20px;
  color: #39345E;
}
.weare .weareBox .right .bottom h4 em a {
  font-size: 18px;
  text-decoration: underline;
  margin-left: 5px;
}
.weare .weareBox .right .bottom h4 em a:hover {
  color: red;
}
.weare .weareBox .right .bottom p {
  color: #221E1E;
  font-size: 22px;
  line-height: 32px;
  margin-top: 15px;
}
.bottomBox {
  width: 100%;
  height: 700px;
  background: gray;
  font-family: Microsoft YaHei, Microsoft YaHei-Normal;
  overflow: hidden;
  color: black;
}
.bottomBox ul {
  display: flex;
  margin-top: 50px;
  padding: 0 200px;
  justify-content: space-between;
}
.bottomBox ul li {
  width: 500px;
  height: 600px;
  background: #f2f8f4;
  border-radius: 30px;
  text-align: center;
}
.bottomBox ul li h4 {
  font-size: 28px;
  margin-top: 30px;
}
.bottomBox ul li h4 a {
  text-decoration: underline;
}
.bottomBox ul li h4 a:hover {
  color: green;
}
.bottomBox ul li img {
  width: 360px;
  margin-top: 20px;
}
.bottomBox ul li img.cur {
  width: 400px;
}
.bottomBox ul li > a {
  font-size: 14px;
  display: block;
  width: 350px;
  margin: 15px auto;
  line-height: 20px;
  text-decoration: underline;
  color: green;
}
.footer{
  width:100%;
  height:auto;
  bottom:0;
  z-index:1;
  background-color: green;
  color:white;
  display: flex;
  justify-content:center;
  flex-wrap:wrap;
  margin:0 auto;
}
.footer-heading{
  display: flex;
  flex-direction:column;
  margin-right:4rem;
  }

.footer-heading a{
  color:white;
  text-decoration:none;
  margin-bottom: 0.5rem;
}
.footer-heading a:hover{
  color:red;
  transition:0.3s ease-out;
}
.info-form h2{
margin-bottom:2rem;
}
#membership-register{
  width:300px;
  height:50px;
  border-radius:4px;
  outline:none;
  border:none;
  padding-left:0.5rem;
  font-size:1rem;
  margin-bottom:1rem;
}
#join-us-as-a-member::placeholder{
  color: gray;
}
#membership register sign up{
  width:100px;
  height:40px;
  border-radius:4px;
  background-color:#F9423D;
  outline:none;
  border:none;
  color:white;
  font-size:1rem;
}
#Join-us-as-a-member:hover{
  cursor: pointer;
  background-color:deepskyblue;
  transition:all 0.4s ease-out;
}
.body{
  overflow:scroll;
}
body{
  background-color: whitesmoke; 
}

.banner{
  position: relative;;
  width:90;
  margin:0 auto;
}
.banner img{
  width:100%;
}
.heading1{
  color:white;
  position: absolute;
  left:45%;
  top:0%;
  width:40%;
  text-align: right;
  font-size:40px;
  text-shadow:5px 10px 10px green;
}
.heading2{
  color:white;
  position: absolute;
  left:45%;
  top:20%;
  width:40%;
  text-align: right;
  font-size:17px;
  text-shadow:5px 5px 10px green;